@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
}

body {
  @apply font-sans;
  height: 100%;
}
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height of the content area */
}

.my-tooltip {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: #333; /* Customize text color */
  font-size: 14px; /* Customize font size */
}

.my-arrow {
  background-color: #f0f0f0;
}
/* Add these styles to your styles.css file or a <style> tag in your component */
.custom-scrollbar {
  /* Hide the scrollbar by default */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.custom-scrollbar:hover,
.custom-scrollbar:active,
.custom-scrollbar:focus {
  /* Show the scrollbar when the element is hovered, focused, or during active scrolling */
  scrollbar-width: auto; /* For Firefox */
  -ms-overflow-style: auto; /* For Internet Explorer and Edge */
}

/* Specifically targeting the horizontal scrollbar */
.custom-scrollbar:hover::-webkit-scrollbar,
.custom-scrollbar:active::-webkit-scrollbar,
.custom-scrollbar:focus::-webkit-scrollbar {
  display: block;
  width: 5px;
  height: 2px; /* Adjust the height for horizontal scrollbar */
}

.custom-scrollbar:hover::-webkit-scrollbar-track,
.custom-scrollbar:active::-webkit-scrollbar-track,
.custom-scrollbar:focus::-webkit-scrollbar-track {
  /* background: transparent; */
  width: 1px;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb,
.custom-scrollbar:active::-webkit-scrollbar-thumb,
.custom-scrollbar:focus::-webkit-scrollbar-thumb {
  background-color: #151765;
  border-radius: 6px;
  border: 1px solid #0000000a;
}
/* .sidecustom-scrollbar:hover::-webkit-scrollbar-thumb,
.sidecustom-scrollbar:active::-webkit-scrollbar-thumb,
.sidecustom-scrollbar:focus::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 6px;
  border: 1px solid #0000000a;
} */
